/* Font files */
@font-face {
    font-family: "Proxima Nova";
    src: url(../assets/AnyConv.com__ProximaNova-Regular_2607783814[2339].woff2);
}
@font-face {
    font-family: "Proxima Nova";
    src: url(../assets/AnyConv.com__ProximaNova-Semibold_3872794340.woff2);
    font-weight: 600;
}
@font-face {
    font-family: "Proxima Nova";
    src: url(../assets/AnyConv.com__ProximaNova-Medium_2770618388[2258].woff2);
    font-weight: 400;
}

* {
    box-sizing: border-box;
    font-size: 1em;
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--clr-contrast-0);
    color: var(--clr-contrast-100);
    display: flex;
    flex-direction: column;
    font-family: "Proxima Nova", sans-serif;
    margin: 0;
}

main {
    justify-content: center;
    width: 100%;
}

/* Color palette */
:root {
    --clr-contrast-100: #333;
    --clr-contrast-0:#FFFFFF;
    --clr-block: #ededed;
    --clr-blockhover: #dedede;
    --clr-primair-50: #F7A100;
    --clr-primair-80: #DE9000;
    --clr-secundair-50:#0071B3;
}

@media (prefers-color-scheme:dark) {
body {
    --clr-contrast-100: #fff;
    --clr-contrast-0: #1F2123;
    --clr-block: #333;
    --clr-blockhover: #4a4a4a;
    --clr-contrast-50: #999999;
    --clr-secundair-50:#60C5F8;
    --clr-secundair-15: #006199;
}
.light-mode {
--clr-block: #ededed;
--clr-blockhover: #dedede;
--clr-contrast-0:#FFFFFF;
--clr-contrast-50: #666666;
--clr-contrast-100: #1F2123;
--clr-primair-80: #DE9000;
--clr-primair-50: #F7A100;
--clr-icon: #DE9000;
--clr-heart: #f03c2f;
--clr-secundair-50:#0071B3;
--clr-secundair-15: #E6F2F7;
}
.contrast-mode {
    --clr-contrast-0:#FFFFFF;
    --clr-block: #ededed;
    --clr-blockhover: #999999;
    --clr-contrast-50: #525252;
    --clr-primair-50: #53241B;
    --clr-icon: #53241B;
    --clr-primair-80: #321610;
    --clr-contrast-100: #1F2123;
    --clr-secundair-50: #115D92;
    --clr-heart: #DB1D10;
}
}

/* Styling typography */
h1 {
    display: flex;
    font-size: 2.5em;
    justify-content: center;
    padding: .5em 0 0 0;
}
h2 {
    font-size: 1.5em;
    justify-content: center;
    white-space: pre;
}
h4 {
    color: var(--clr-secundair-50);
    font-size: 1.5em;
}
a {
    color: #fff;
    text-decoration: none;
}

/* nav styling */
header {
    background: var(--clr-primair-50);
}

.navbar {
    align-items: center;
    display: flex;
    height: 4em;
    justify-content: space-between;
    padding: 0 24px;
}

.nav-menu {
    align-items: start;
    display: flex;
    gap: 30px;
    justify-content: start;
    padding-left: 2em;
    width: 100%;
}

.bar {
    background-color: #fff;
    display: block;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    width: 25px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.heart, .account-human{
    color: #fff;
    height: 2em;
    margin: auto 5px;
}
.heart:hover {
    color: #f60505;
}

/* Styling theme-toggle, darkmode + contrast mode */
.theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--clr-primair-50);
}
.theme-toggle-contrast {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--clr-primair-50);
}
.colour-modes {
    align-items: end;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: end;
    padding: 1em 1em 0 1em;
}

/* Styling filter-box */
.filter-container {
    align-items: center;
    display: flex;
    height: 7em;
    justify-content: center;
}
.search-wrapper {
    display: flex;
    flex-direction: row;
    gap: .25em;
}
.search-button {
    background: var(--clr-secundair-50);
    border: none;
    box-shadow: none;
    color: var(--clr-contrast-0);
    cursor: pointer;
    height: 3em;
    width: 5em; 
}
input {
    background-color: var(--clr-block);
    border: solid var(--clr-primair-50) .2em;
    color: var(--clr-contrast-100);
    height: 3em;
    width: 17em;
}

/* Styling title list-blocks */
.title-listcontainer {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.title-listcontainer article {
    display: flex;
    flex-direction: row;
    gap: 7em;
    justify-content: space-around;
    width: 22em;
}
.title-listcontainer p {
    color: var(--clr-contrast-50);
    padding-top: .4em;
    white-space: nowrap;
}
.title-listcontainer h2 {
    margin: 0;
}

/* List-blocks grid */
.list-container {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(1, 10em);
    grid-template-rows: repeat(3, 12.2em);
    justify-content: center;
    padding: 2.5em 0;
}  

.list-container article:nth-of-type(2) {
    display: grid;
    grid-column: 2 / 2;
    grid-row: 1 / 1;
}
.list-container article:nth-of-type(3) {
    display: grid;
    grid-column: 1 / 1 ;
    grid-row: 2 / 2;
}
.list-containerarticle:nth-of-type(4) {
    display: grid;
    grid-column: 2 / 2;
    grid-row: 2 / 2;
}
.list-container article:nth-of-type(5) {
    display: grid;
    grid-column: 1 / 1;
    grid-row: 3 / 3;
}
.list-container article:nth-of-type(5) {
    display: grid;
    grid-column: 2 / 2;
    grid-row: 3 / 3;
}

/* Styling list-blocks, article + img + h3 + p + icons */
.list-container > article {
    background-color: var(--clr-block);
    border-bottom: .8em solid var(--clr-primair-50);
    overflow: hidden;
    position: relative;
    width: 10em;
}
.list-container > article:hover {
    background-color: var(--clr-blockhover);
    transition: 0.4s ease-in;
}
.list-container img {
    flex-direction: column;
    height: 7em;
    position: relative;
}
.list-container img:nth-of-type(1){
    object-fit: cover;
    width: 5.5em;
}
.list-container img:nth-of-type(2){
    height: 3.3em;
    object-fit: cover;
    overflow: hidden;
    width: 4.15em;
}
.list-container img:nth-of-type(3){
    height: 3.3em;
    object-fit: cover;
    position: absolute;
    right: .05em;
    width: 4.15em;
}
.list-container h3 {
    color: var(--clr-contrast-100);
    font-size: 1.3em;
    padding: .25em 0 0 .35em;
}
.list-info {
    display: flex;
    flex-direction: row;
    gap: .5em;
    padding: .5em 0 0 .35em;
}
.list-info p {
    color: var(--clr-contrast-100);
}
.heart-list {
    color: var(--clr-primair-50);
}
.accounthuman-list {
    color: var(--clr-icon);
    height: 2em;
    padding-bottom: .6em;
}

/* Styling pop-up styling etc */
.list-container button:nth-child(1) {
    background-color: var(--clr-block);
    border: none;
    border-bottom: .8em solid var(--clr-primair-50);
    box-shadow: none; 
    cursor: pointer;
}
.list-container button:nth-child(1):hover {
    background-color: var(--clr-blockhover);
    transition: 0.4s ease-in;
    color: var(--clr-contrast-100);
}

.modal {
    align-items: center;
    background: var(--clr-block);
    border-bottom: solid 2em var(--clr-primair-50);
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: all 0.1s ease-in-out;
    z-index: -1;

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.modal.open {
    opacity: 100;
    z-index: 1;
}

.inner-modal {
    align-items: center;
    display: flex;
    gap: 1.2em;
    flex-direction: column;
    justify-content: center;
    background-color: ;
    width: 15em;
}

.inner-modal input {
    appearance: none;
    background-color: var(--clr-blockhover);
    border: none;
    border-bottom: .3em solid var(--clr-primair-50);
    height: 2.5em;
    margin-top: 1em;
    width: 15em;
}
.inner-modal button:nth-of-type(1) {
    background-color: var(--clr-primair-50);
    border: none;
    box-shadow: none;
    color: var(--clr-contrast-0);
    cursor: pointer;
    height: 2.5em;
    width: 15em;
}
.inner-modal button:nth-of-type(1):hover {
    background-color: var(--clr-primair-80);
}
.inner-modal button:nth-of-type(2) {
    background-color: var(--clr-block);
    border: none;
    box-shadow: none;
    cursor: pointer;

    position: absolute;
    bottom: 7em;
}
/* Styling title all-saved-houses */
.title-allsavedhouses {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.title-allsavedhouses article {
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: space-around;
    padding-bottom: .7em;
    width: 22em;
}
.title-allsavedhouses select {
    appearance: none;
    background-color: var(--clr-contrast-0);
    border: 2px solid var(--clr-primair-50);
    box-shadow: none;
    color: var(--clr-contrast-100);
    cursor: pointer;
    height: 3em;
    /* padding: 0 1rem; */
    width: 12em;
    transition: border .25s cubic-bezier(.23,1,.32,1);
}
.bottom-line {
    background: var(--clr-primair-50);
    height: .1em;
    width: 22em;
}

/* Styling list all-saved-houses */
.saved-by-user {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding-top: 1.5em;
}
.saved-by-user article {
    border-bottom: 0.1em solid var(--clr-primair-50);
    display: flex;
    flex-direction: row;
    padding-bottom: 1.5em;
    position: relative;
    width: 22em;
}
.saved-by-user img {
    display: flex;
    flex-direction: column;
    margin: 0;
    object-fit: cover;
}
.saved-by-user svg {
    display: flex;
    position: absolute;
    right: 0em;
}
.saved-by-user a {
    color: var(--clr-secundair-50);
    transition: color .25s cubic-bezier(.23,1,.32,1);
}
.saved-by-user .adres {
    padding-left: .7em;
}

/* Styling next-page */
.next-page {
    display: flex;
    justify-content: center;
    padding: 2em 0;
}
.next-page a {
    color: var(--clr-secundair-50);
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.next-page p {
    padding: .5em;
    border-radius: .1em;
}
.next-page p:hover {
    background-color: var(--clr-secundair-15);
}
.next-page p:nth-of-type(1) {
    background-color: var(--clr-primair-50);
    color: var(--clr-contrast-0);
}
.next-page svg {
    height: 2em;
    padding-top: .4em;
    width: 2em;
}

   /* FOOTER */

   footer {
    background: var(--clr-block);
    padding: 0.2em;
}

    footer a {
    color: var(--clr-secundair-50);
}

    footer h4 {
    color: var(--clr-contrast-100);
    }

    .diensten, .informatie, .makelaars, .over-ons {
    margin: 2em;
    line-height: 1.25em;
}

.socials {
    display: flex;
    justify-content: space-between;
    margin: 1em;
    padding: 0.5em;
}

.center-footer {
    margin: 1em;
    padding: 0.5em;
}


.copyright-2 {
    display: flex;
    justify-content: space-around;
    gap: 0.2em;
}

.switch-language {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1em;
    padding: 0.5em;
}

/* Mediaquery nav */
@media (max-width:578px){
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        background-color: var(--clr-primair-80);
        flex-direction: column;
        gap: 0;
        left: -100%;
        position: absolute;
        transition: 0.8s;
        text-align: center;
        top: 60px;
        width: 100%;
    }
    .nav-item {
        margin: 16px 0;
    }
    .nav-menu.active {
        left: 0;
    }

    .footer-nav {
        display: flex;
        flex-direction: column;
    }

    .center-footer {
        display: flex;
        justify-content: space-evenly;
    }

    .switch-language {
        display: flex;
        flex-direction: column;
        margin: 1em 1em 1em 15em;
        width: 6em;
    }
}

/* Mediaquery main content */
@media (min-width:670px) {
    .title-listcontainer article {
        gap: 19em;
        width: 34em;
    }
    .list-container {
        justify-content: center;
        display: grid;
        gap: 2em;
        grid-template-columns: repeat(2, 10em);
        grid-template-rows: repeat(2, 12.2em);
        padding: 2.5em 0;
    }
    .list-container > article {
        overflow: hidden;
        position: relative;
        width: 10em;
    }
    .list-container article:nth-of-type(2) {
        display: grid;
        grid-column: 2 / 2;
        grid-row: 1 / 1;
    }
    .list-container article:nth-of-type(3) {
        display: grid;
        grid-column: 3 / 3 ;
        grid-row: 2 / 2;
    }
    .list-container article:nth-of-type(4) {
        display: grid;
        grid-column: 1 / 1;
        grid-row: 2 / 2;
    }
    .list-container article:nth-of-type(5) {
        display: grid;
        grid-column: 2 / 2;
        grid-row: 2 / 2;
    }
    .list-container article:nth-of-type(6) {
        display: grid;
        grid-column: 3 / 3;
        grid-row: 1 / 1;
    }
    input {
        width: 26em;
    }
    .search-button {
        width: 8em;
    }
    .saved-by-user article {
        width: 34em;
    }
    .saved-by-user img {
        object-fit: cover;
        margin: 0;
        width: 11em;
    }
    .saved-by-user .adres {
        padding-left: 3em;
    }
    .bottom-line {
        width: 34em;
    }
    .title-allsavedhouses article {
        gap: 14em;
        width: 34em;
    }
}

@media (min-width:987px) {
    .title-listcontainer article {
        gap: 43em;
        width: 58em;
    }
    .list-container {
        display: grid;
        gap: 2em;
        grid-template-columns: repeat(2, 18em);
        grid-template-rows: repeat(2, 11em);
        justify-content: center;
        padding: 2.5em 0;
    }
    .list-container > article {
        overflow: hidden;
        position: relative;
        width: 18em;
    }

    .list-container img {
        flex-direction: column;
        height: 7em;
        position: relative;
    }
    
    .list-container img:nth-of-type(1){
        object-fit: cover;
        width: 8em;
    }
    .list-container img:nth-of-type(2){
        height: 7em;
        object-fit: cover;
        overflow: hidden;
        width: 5.2em;
    }
    .list-container img:nth-of-type(3){
        height: 7em;
        object-fit: cover;
        position: absolute;
        right: .05em;
        width: 4.3em;
    }
    .list-info {
        bottom: .5em;
        display: flex;
        flex-direction: row;
        gap: .5em;
        padding-left: 10.8em;
        position: absolute;
    }
    .accounthuman-list {
        height: 2em;
        padding-bottom: .6em;
    }
    .add-list {
        flex-direction: column;
        justify-content: center;
        position: relative;
    }
    .add-list h3 {
        justify-content: center;
        margin: 0em .8em;
        padding: 0 .2em;
    }
    .add-list p {
        padding-left: .59em;
    }

    .saved-by-user article {
        width: 58em;
    }
    .saved-by-user img {
        object-fit: cover;
        margin: 0;
        width: 18em;
    }
    .saved-by-user .adres {
        padding-left: 4em;
    }
    .bottom-line {
        width: 58em;
    }
    .title-allsavedhouses article {
        gap: 38.5em;
        width: 38.5em;
    }

    .footer-nav {
        display: flex;
        flex-direction: row;
    }
    
    .footer-nav ul {
        line-height: 1.5;
    }
}