* {
    box-sizing: border-box;
}
   /* DARK MODE EN HIGH CONTRAST MODE */

:root {
    --clr-dark: #333;
    --clr-light:#FFFFFF;
    --clr-block: #ededed;
    --clr-blockhover: #dedede;
    --clr-primair-50: #F7A100;
    --clr-secundair-50:#0071B3;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    font-family:"Proxima Nova", sans-serif;
    margin: 0;
}

main {
    width: 100%;
}

@font-face {
    font-family: "Proxima Nova", sans-serif;
    src: url(../assets/AnyConv.com__ProximaNova-Regular_2607783814[2260].woff) format('woff'); 
}

@font-face {
    font-family: "Proxima Nova", sans-serif;
    src: url(../assets/AnyConv.com__ProximaNova-Bold_1760577842[2252].woff) format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "Proxima Nova";
    src: url(../assets/AnyConv.com__ProximaNova-Medium_2770618388[2258].woff2);
    font-weight: 400;
}

.dark-mode {
    --clr-dark: #FFFFFF;
    --clr-light: #1f2123;
    --clr-block: #1a1d1f;
    --clr-secundair-50:#60C5F8;
    --clr-gray: #999999;
}

.contrast-mode {
    --clr-dark: #1F2123;
    --clr-light:#FFFFFF;
    --clr-block: #ededed;
    --clr-blockhover: #999999;
    --clr-icon: #53241B;
    --clr-primair-50: #321610;
    --clr-icon: #53241B;
    --clr-secundair-50: #115D92;
    --clr-heart: #DB1D10;
    --clr-gray: #525252;
}

.theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--clr-primair-50);
}

.theme-toggle-contrast {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--clr-primair-50);
}

.colour-modes {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    padding: 1em 1em 0 1em;
    gap: 1.5em;
}

h6 {
    width: 10000px;
    height: 5em;
    color: var(--clr-dark);
    font-weight: 800;
    background: var(--clr-primair-50);
    margin: 0em;
}

.back-icon {
    left: 0.5em;
    position: absolute;
    top: 4em;
}

.edit-icon {
    position: absolute;
    left: 1em;
    top: 8em;
}

h1 {
    color: var(--clr-dark);
    font-size: 2.25em;
    font-weight: 600;
    line-height: 1.5;
    margin-top: 0em;
    padding: 0.5em 0 0.5em 0;
    text-align: center;
}

form {
    text-align: center;
}

form button {
    background: none;
    border: none;
    color: var(--clr-secundair-50);
    cursor: pointer;
    font-size: 48px;
}

   /* POP-UP BIJDRAGER TOEVOEGEN */

.popup {
    background: var(--clr-block);
    border-radius: 8px;
    color: var(--clr-dark);
    height: 10em;
    margin-left: 10em;
    padding: 1em;
    position: fixed;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    visibility: hidden;
    width: 19em;
    z-index: 100;
}

.open-popup {
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    visibility: visible;
}

body.open-popup {
    height: 100vh;
    overflow: hidden;
    padding-right: 15px;
}

.popup input {
    border: solid 0.1em var(--clr-primair-50);
    font-size: 16px;
    height: 2em;
    outline: none;
}

.popup input:focus {
    border: solid 0.2em var(--clr-primair-50);
}

.add-user-button {
    background: transparent;
    border: 0.1em;
    color: var(--clr-dark);
    font-size: 1em;
    position: absolute;
    top: 7em;
    left: 5em;
    transition: all 0.2 ease-in;
    cursor: pointer; 
    padding: 0.65em 0 0.65em 0;
}

.add-user-button:hover {    
    color: var(--clr-primair-50);
}

.close-button {
    background-color: transparent;
    border: 0em;
    color: var(--clr-dark);
    font-size: 2em;
    position: absolute;
    right: 0em;
    top: 0em;
    transition: all 0.2 ease-in;
    cursor: pointer;
}

.close-button:hover {
    background-color: transparent;
    color: var(--clr-primair-50);
    position: absolute;
    top: 0em;
    right: 0em;
}

p {
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--clr-secundair-50);
}

  /* HUIZENLIJST */

ul {
    line-height: 1.5em;
    list-style: none;
    padding-left: 0;
}

article li:first-child {
    font-weight: bold;
    line-height: 1.5;
}
    
article li:nth-child(3n+2) {
    font-weight: bold;
    margin-top: 0.5em;
}
    
article > li:last-child {
    color: var(--clr-secundair-50);
    margin-top: 1.5em;
}

.house {
    border-bottom: solid #ccc 0.1em ;
    margin: 0em 0.5em 0em 0.5em;
    padding: 0.5em 2em 0.5em 2.6em;
}

.house:first-child {
    border-top: solid var(--clr-primair-50) 0.1em ;
}

.house:last-child {
    border: none;
}
  /* COMMENT PLAATSEN */
.new-message {
    display: flex;
}

.msg {
    border: var(--clr-light) solid 0.1em;
    box-shadow: 0 3px 10px var(--clr-block);
    padding: 0.4em;
    margin: 0.4em;
}
.place-comment {
    background: var(--clr-secundair-50);
    border: none;
    font-size: 16px;
    padding: 0.5em;
    margin: 0.5em;
    color: var(--clr-light);
}

.place-comment:hover {
}

.comment-section input {
    border: none;
    border-bottom: var(--clr-primair-50) solid 0.1em;
    font-size: 16px;
    height: 3em;
    margin: 0.1em;
    outline: none;
    width: 12em;
}

.comment-section input:focus {
    border: solid 0.2em var(--clr-primair-50);
}

footer {
    background: var(--clr-block);
    padding: 0.2em;
}

.diensten, .informatie, .makelaars, .over-ons {
    margin: 2em;
    line-height: 1.25em;
}

.socials {
    display: flex;
    justify-content: space-evenly;
}

.center-footer {
    margin: 1em;
}


.copyright-2 {
    display: flex;
    justify-content: space-around;
    gap: 0.2em;
}

.switch-language {
    text-align: center;
    margin: 1em;
}

@media (min-width:500px) {
    .house {
    border-bottom: solid #ccc 0.1em ;
    margin: 0em 0.5em 0em 0.5em;
    padding: 0.5em 4em 0.5em 6em;
    }
}

@media (min-width:700px) {
    .house {
        display: flex;
        gap: 1em;
        padding: 0.5em 1em 0.5em 1em;
    }

    .house img, .adres {
        height: 180px;
        width: 220px;
    }

    h3 {
        margin-top: 0;
    }

    .footer-nav {
        display: flex;
        flex-direction: row;
    }

    .center-footer {
        display: flex;
        justify-content: space-evenly;
    }

    .switch-language {
       text-align: center;
       margin: 1em;
    }
}

@media (min-width:900px) {
    .house {
        gap:3em;
        margin: 0em 2em 0em 2em;
        padding: 1em 1em 1em 1em;
    }

    .house img, .adres {
        height: 200px;
        width: 280px;
    } 

    .footer-2 {
        display: flex;
        justify-content: space-between;
        margin: 2em;
    }

    .socials, .center-footer {
        gap: 1.5em;
    }
}